@import './variables.css';

ul {
    padding: 0;
  }
  
  li {
    list-style-type: none;
  }
  
  .container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .languages, .nav {
    display: flex;
    justify-content: center;
  }
  
  ul li {
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
  }

  .languageSelected{
    color: var(--theme-page-icon);
  }