@import './variables.css';

a {
    text-decoration: none;
    font-weight: bold;
    color: var(--theme-page-text);
}

.active {
    color: var(--theme-page-icon);
    border-bottom: 3px solid var(--theme-page-icon);
}

.navbar{
    border-top: 3px solid var(--theme-page-text);
}