@import './styles/variables.css';

div:not(.img, .user-information), span{
  width: 100%;
}

div.app {
  background-color: var(--theme-page-background);
  color: var(--theme-page-text);
  padding: 2% 5%;
  width: 90%;
}

div.curriculum{
  padding: 2% 5%;
  width: 90%;
  margin: auto;
  border-radius: 100px;
  background-color: var(--theme-cv-background);
  color: var(--theme-page-text);
}

html{
  font-family: sans-serif, serif, Arial, Helvetica;
}

h1{
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

h2{
  text-decoration: underline;
  margin: 0;
  margin-top: 30px;
  height: 25px;
}

p{
  margin: 0.5rem;
}

button {
  background-color: var(--theme-page-icon);
  border-radius: 100px;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

.user-information{
  text-align: right;
}

.img{
  height: 100px;
  width: 100px;
  background-size: cover;
  padding: 0;
  margin: 0 10px;
  border: none;
}
.short-img{
  height: 25px;
  width: 25px;
}

.inline{
  display: inline-block;
}

.img-profile{
  background-image: url("./images/me.png");
  border-radius: 14px;
}

.img-user{
  background-image: url("./images/user.svg");
}

.img-mail{
  background-image: url("./images/mail.svg");
}

.img-phone{
  background-image: url("./images/phone.svg");
}

.img-linkedIn{
  background-image: url("./images/linkedin.svg");
}

.img-github{
  background-image: url("./images/github.svg");
}

.img-download{
  background-image: url("./images/download-white.svg");
}

.cv-presentation-complete{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cv-presentation-simple{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.topic-information{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 14px;
}

.topic-information span{
  text-align: center;
}

div.short-column{
  width: 30%;
  border-bottom: 2px solid var(--theme-page-block);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.long-column{
  width: 70%;
  border-bottom: 2px solid var(--theme-page-block);
}

.outstanding{
  font-weight: bold;
}

.list-items{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list-items:nth-child{
  text-align: center;
}

div.asd{
  background-color: var(--theme-color);
}

.button-with-icon{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.img-button{
  margin-left: 0;
}

.contact{
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
}

.page{
  border-top: 3px solid var(--theme-page-text);
  padding-top: 26px;
}

.presentation{
  padding-bottom: 26px;
}

.alineation{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.references{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}