@import './styles/variables.css';

div:not(.img, .user-information), span{
  width: 100%;
}

div.app {
  padding: 2% 5%;
  width: 90%;
  margin: auto;
  background-color: var(--theme-page-background);
  color: var(--theme-page-text);
  border-radius: 100px;
}

html{
  font-family: sans-serif, serif, Arial, Helvetica;
  padding: 2% 5%;
}

h1{
  text-align: center;
}

h2{
  text-decoration: underline;
  margin: 0;
  margin-top: 40px;
}

p{
  margin: 0.5rem;
}

button {
  background-color: var(--theme-page-icon);
  border-radius: 100px;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
}

.user-information{
  text-align: right;
}

.img{
  height: 100px;
  width: 100px;
  background-size: cover;
  padding: 0;
  margin: 0 10px;
  border: none;
}
.short-img{
  height: 25px;
  width: 25px;
}

.inline{
  display: inline-block;
}

.img-profile{
  background-image: url("./images/me.png");
  border-radius: 14px;
}

.img-user{
  background-image: url("./images/user.svg");
}

.img-mail{
  background-image: url("./images/mail.svg");
}

.img-phone{
  background-image: url("./images/phone.svg");
}

.img-linkedIn{
  background-image: url("./images/linkedIn.svg");
}

.img-github{
  background-image: url("./images/github.svg");
}

.cv-presentation{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.topic-information{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
}

.topic-information span{
  text-align: center;
}

.short-column{
  width: 30%;
  border-bottom: 2px solid var(--theme-page-block);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.long-column{
  width: 70%;
  border-bottom: 2px solid var(--theme-page-block);
}

.outstanding{
  font-weight: bold;
}

.list-items{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list-items:nth-child{
  text-align: center;
}